.App {
  text-align: center;
}

.home{
  width: 85%;
  margin: auto;
  color: rgb(52, 227, 240);
  margin-top: 30px;
  

}
body{
  background-color: rgb(114, 110, 110);
  font-size: 25px;
}
a{
  text-decoration: none;
  color: white;

}
button{
  border-radius: 5px;

}